<div class="row pt-3">

  <!-- BTN PRODUCTS -->
  <div class="col-2">
    <div class="card shadow rounder p-3 text-center" style="cursor: pointer" [routerLink]="'/products'">
      <img class="img-fluid" ngSrc="./assets/images/home/products.png" alt="" height="128" width="128"
           priority="true">
      <p class="fs-5 fw-bold mt-3 mb-0">Productos</p>
    </div>
  </div>

  <!-- BTN SERVICES -->
  <div class="col-2">
    <div class="card shadow rounder p-3 text-center" style="cursor: pointer" [routerLink]="'/services'">
      <img class="img-fluid" ngSrc="./assets/images/home/services.png" alt="" height="128" width="128"
           priority="true">
      <p class="fs-5 fw-bold mt-3 mb-0">Servicios</p>
    </div>
  </div>

  <!-- BTN CONTACT -->
  <div class="col-2">
    <div class="card shadow rounder p-3 text-center" style="cursor: pointer" [routerLink]="'/contacts'">
      <img class="img-fluid" ngSrc="./assets/images/home/contact.png" alt="" height="128" width="128"
           priority="true">
      <p class="fs-5 fw-bold mt-3 mb-0">Contactos</p>
    </div>
  </div>

</div>
